<div class ="container mt-2 p-5" >
<div class="row">
<div class="col-3" >
</div>
<div class="col-6 border mt-5">
<br/>
<h2>Forgot your password?</h2>
<br/>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%# render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    <h6><%= f.error_message_for(:email)%></h6>
  </div>
  <br/>

  <div class="actions ">
    <%= f.submit "Send me reset password instructions" %>
   
  </div><br/>

<% end %>

<%= render "devise/shared/links" %>
</div>
 <div class="col-3">
 </div>
 </div>
 
 </div>