<div class='row'>
   <div class="col-6 ">
 
   <h1><%= @contact.firstName + ' ' +@contact.lastName %></h1>

   <strong>Address: </strong> <%= @contact.address %><br />
   <strong>City :</strong> <%= @contact.city %><br />
   <strong>Phone: </strong> <%= @contact.phone %><br />
   <strong>Email :</strong> <%= @contact.email %><br />
   <strong>Created Date:</strong> <%= @contact.created_at %><br />
   </div>  
</div>